@font-face {
    font-family: 'Lifecraft';
    src: url(../fonts/LifeCraft_Font.ttf) format('truetype');
}

.row-header{
    height: 60px;
    border-bottom: 3px black solid;
}

.row-main{
    height: calc(100vh - 120px);
    background-image: url("../images/background/error-404-ajustado.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.titulo {
    font-size: 5.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: calc(100vh - 120px);
    opacity: 0.8;
}

.row-footer{
    border-top: 3px black solid;
    height: 60px;
    background-image: url("../images/footer/background-texture-footer.jpg");
    background-size: cover;
}

:is(.row-header){
    font-family: 'Lifecraft', sans-serif;
}

:is(.row-header,.row-main,.row-footer){
    padding-left: 8vw;
    padding-right: 8vw;
}

.box-error{
    height: 40%;
}

@media (max-width: 980px){
    :is(.row-header,.row-main,.row-footer){
        padding-left: 4vw;
        padding-right: 4vw;
    }
    :is(.box-opcoes){
        width: 60% !important;  
    }
}
@media (max-width: 650px){
    
    :is(.box-opcoes){
        width: 80% !important;
    }
}